@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #0054e9;
    --color-primary-rgb: 0, 84, 233;
    --color-primary-contrast: #fff;
    --color-primary-contrast-rgb: 255, 255, 255;
    --color-primary-shade: #004acd;
    --color-primary-tint: #1a65eb;
    --color-secondary: #0163aa;
    --color-secondary-rgb: 1, 99, 170;
    --color-secondary-contrast: #fff;
    --color-secondary-contrast-rgb: 255, 255, 255;
    --color-secondary-shade: #015796;
    --color-secondary-tint: #1a73b3;
    --color-tertiary: #6030ff;
    --color-tertiary-rgb: 96, 48, 255;
    --color-tertiary-contrast: #fff;
    --color-tertiary-contrast-rgb: 255, 255, 255;
    --color-tertiary-shade: #542ae0;
    --color-tertiary-tint: #7045ff;
    --color-success: #2dd55b;
    --color-success-rgb: 45, 213, 91;
    --color-success-contrast: #000;
    --color-success-contrast-rgb: 0, 0, 0;
    --color-success-shade: #28bb50;
    --color-success-tint: #42d96b;
    --color-warning: #ffc409;
    --color-warning-rgb: 255, 196, 9;
    --color-warning-contrast: #000;
    --color-warning-contrast-rgb: 0, 0, 0;
    --color-warning-shade: #e0ac08;
    --color-warning-tint: #ffca22;
    --color-danger: #c5000f;
    --color-danger-rgb: 197, 0, 15;
    --color-danger-contrast: #fff;
    --color-danger-contrast-rgb: 255, 255, 255;
    --color-danger-shade: #ad000d;
    --color-danger-tint: #cb1a27;
    --color-light: #f4f5f8;
    --color-light-rgb: 244, 245, 248;
    --color-light-contrast: #000;
    --color-light-contrast-rgb: 0, 0, 0;
    --color-light-shade: #d7d8da;
    --color-light-tint: #f5f6f9;
    --color-medium: #636469;
    --color-medium-rgb: 99, 100, 105;
    --color-medium-contrast: #fff;
    --color-medium-contrast-rgb: 255, 255, 255;
    --color-medium-shade: #57585c;
    --color-medium-tint: #737478;
    --color-dark: #222428;
    --color-dark-rgb: 34, 36, 40;
    --color-dark-contrast: #fff;
    --color-dark-contrast-rgb: 255, 255, 255;
    --color-dark-shade: #1e2023;
    --color-dark-tint: #383a3e;

    --background-color: #ffffff;
    --background-color-rgb: 255, 255, 255;
    --text-color: #121212;
    --text-color-rgb: 18, 18, 18;
    --background-color-step-50: #f3f3f3;
    --background-color-step-100: #e7e7e7;
    --background-color-step-150: #dbdbdb;
    --background-color-step-200: #d0d0d0;
    --background-color-step-250: #c4c4c4;
    --background-color-step-300: #b8b8b8;
    --background-color-step-350: #acacac;
    --background-color-step-400: #a0a0a0;
    --background-color-step-450: #949494;
    --background-color-step-500: #898989;
    --background-color-step-550: #7d7d7d;
    --background-color-step-600: #717171;
    --background-color-step-650: #656565;
    --background-color-step-700: #595959;
    --background-color-step-750: #4d4d4d;
    --background-color-step-800: #414141;
    --background-color-step-850: #363636;
    --background-color-step-900: #2a2a2a;
    --background-color-step-950: #1e1e1e;
    --text-color-step-50: #1e1e1e;
    --text-color-step-100: #2a2a2a;
    --text-color-step-150: #363636;
    --text-color-step-200: #414141;
    --text-color-step-250: #4d4d4d;
    --text-color-step-300: #595959;
    --text-color-step-350: #656565;
    --text-color-step-400: #717171;
    --text-color-step-450: #7d7d7d;
    --text-color-step-500: #898989;
    --text-color-step-550: #949494;
    --text-color-step-600: #a0a0a0;
    --text-color-step-650: #acacac;
    --text-color-step-700: #b8b8b8;
    --text-color-step-750: #c4c4c4;
    --text-color-step-800: #d0d0d0;
    --text-color-step-850: #dbdbdb;
    --text-color-step-900: #e7e7e7;
    --text-color-step-950: #f3f3f3;
}

.palette-dark {
    --color-primary: #4d8dff;
    --color-primary-rgb: 77, 141, 255;
    --color-primary-contrast: #000;
    --color-primary-contrast-rgb: 0, 0, 0;
    --color-primary-shade: #447ce0;
    --color-primary-tint: #5f98ff;
    --color-secondary: #46b1ff;
    --color-secondary-rgb: 70, 177, 255;
    --color-secondary-contrast: #000;
    --color-secondary-contrast-rgb: 0, 0, 0;
    --color-secondary-shade: #3e9ce0;
    --color-secondary-tint: #59b9ff;
    --color-tertiary: #8482fb;
    --color-tertiary-rgb: 132, 130, 251;
    --color-tertiary-contrast: #000;
    --color-tertiary-contrast-rgb: 0, 0, 0;
    --color-tertiary-shade: #7472dd;
    --color-tertiary-tint: #908ffb;
    --color-success: #2dd55b;
    --color-success-rgb: 45, 213, 91;
    --color-success-contrast: #000;
    --color-success-contrast-rgb: 0, 0, 0;
    --color-success-shade: #28bb50;
    --color-success-tint: #42d96b;
    --color-warning: #ffce31;
    --color-warning-rgb: 255, 206, 49;
    --color-warning-contrast: #000;
    --color-warning-contrast-rgb: 0, 0, 0;
    --color-warning-shade: #e0b52b;
    --color-warning-tint: #ffd346;
    --color-danger: #f24c58;
    --color-danger-rgb: 242, 76, 88;
    --color-danger-contrast: #000;
    --color-danger-contrast-rgb: 0, 0, 0;
    --color-danger-shade: #d5434d;
    --color-danger-tint: #f35e69;
    --color-light: #222428;
    --color-light-rgb: 34, 36, 40;
    --color-light-contrast: #fff;
    --color-light-contrast-rgb: 255, 255, 255;
    --color-light-shade: #1e2023;
    --color-light-tint: #383a3e;
    --color-medium: #989aa2;
    --color-medium-rgb: 152, 154, 162;
    --color-medium-contrast: #000;
    --color-medium-contrast-rgb: 0, 0, 0;
    --color-medium-shade: #86888f;
    --color-medium-tint: #a2a4ab;
    --color-dark: #f4f5f8;
    --color-dark-rgb: 244, 245, 248;
    --color-dark-contrast: #000;
    --color-dark-contrast-rgb: 0, 0, 0;
    --color-dark-shade: #d7d8da;
    --color-dark-tint: #f5f6f9;

    --background-color: #121212;
    --background-color-rgb: 18, 18, 18;
    --text-color: #ffffff;
    --text-color-rgb: 255, 255, 255;
    --background-color-step-50: #1e1e1e;
    --background-color-step-100: #2a2a2a;
    --background-color-step-150: #363636;
    --background-color-step-200: #414141;
    --background-color-step-250: #4d4d4d;
    --background-color-step-300: #595959;
    --background-color-step-350: #656565;
    --background-color-step-400: #717171;
    --background-color-step-450: #7d7d7d;
    --background-color-step-500: #898989;
    --background-color-step-550: #949494;
    --background-color-step-600: #a0a0a0;
    --background-color-step-650: #acacac;
    --background-color-step-700: #b8b8b8;
    --background-color-step-750: #c4c4c4;
    --background-color-step-800: #d0d0d0;
    --background-color-step-850: #dbdbdb;
    --background-color-step-900: #e7e7e7;
    --background-color-step-950: #f3f3f3;
    --text-color-step-50: #f3f3f3;
    --text-color-step-100: #e7e7e7;
    --text-color-step-150: #dbdbdb;
    --text-color-step-200: #d0d0d0;
    --text-color-step-250: #c4c4c4;
    --text-color-step-300: #b8b8b8;
    --text-color-step-350: #acacac;
    --text-color-step-400: #a0a0a0;
    --text-color-step-450: #949494;
    --text-color-step-500: #898989;
    --text-color-step-550: #7d7d7d;
    --text-color-step-600: #717171;
    --text-color-step-650: #656565;
    --text-color-step-700: #595959;
    --text-color-step-750: #4d4d4d;
    --text-color-step-800: #414141;
    --text-color-step-850: #363636;
    --text-color-step-900: #2a2a2a;
    --text-color-step-950: #1e1e1e;
    --toolbar-background: #1f1f1f;
}
