.header {
    --padding-top: 12px;
    --padding-bottom: 12px;

    --padding-end: 24px;
    --padding-start: 24px;
}

.navbar {
    height: 2rem;
    margin-inline-end: 0.5rem;
    margin-inline-start: 0.5rem;
    width: 1px;

    background: var(
        --ion-toolbar-border-color,
        var(--ion-border-color, var(--ion-color-step-150, var(--ion-background-color-step-150, #c1c4cd)))
    ) !important;
}
